[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservicios-Carlos/client-gateway.git
[submodule "products-micro-service"]
	path = products-micro-service
	url = https://github.com/Nest-Microservicios-Carlos/products-micro-service.git
[submodule "orders-micro-service"]
	path = orders-micro-service
	url = https://github.com/Nest-Microservicios-Carlos/orders-micro-service.git
[submodule "payments-micro-service"]
	path = payments-micro-service
	url = https://github.com/Nest-Microservicios-Carlos/payments-micro-service.git
[submodule "auth-micro-service"]
	path = auth-micro-service
	url = https://github.com/Nest-Microservicios-Carlos/auth-micro-service.git
